In [136]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [137]:
#EJERCICIO1
#Leemos el archivo y lo guardamos en la variable entrenamiento_ECI

entrenamiento_ECI = pd.read_csv('Entrenamieto_ECI_2020.csv')
entrenamiento_ECI.tail()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [138]:
#EJERCICIO2
#Me quedo con las columnas que me interesan

entrenamiento_ECI_Ejercicio2 = entrenamiento_ECI[['ID', 'Region', 'Territory', 'Delivery_Quarter', 'Delivery_Year', 'Total_Amount']]
entrenamiento_ECI_Ejercicio2.tail()

,ID,Region,Territory,Delivery_Quarter,Delivery_Year,Total_Amount
16942,8781,EMEA,Austria,Q1,2016,103350.00
16943,8786,EMEA,Austria,Q2,2016,93015.00
16944,8792,EMEA,Austria,Q1,2016,103350.00
16945,28561,Americas,NE America,Q2,2016,2346796.88
16946,28318,Americas,NE America,Q3,2016,25603200.00

In [139]:
#Quito las filas con NAs
print(len(entrenamiento_ECI_Ejercicio2))
entrenamiento_ECI_Ejercicio2.dropna(inplace = True)
print(len(entrenamiento_ECI_Ejercicio2))

16947
16888

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [140]:
#Me quedo solo con las filas con region EMEA
region_EMEA = entrenamiento_ECI_Ejercicio2['Region'] == 'EMEA'
entrenamiento_ECI_Ejercicio2 = entrenamiento_ECI_Ejercicio2.loc[region_EMEA]
entrenamiento_ECI_Ejercicio2.tail()

          ID Region Territory Delivery_Quarter  Delivery_Year  Total_Amount
16938  28767   EMEA   Germany               Q3           2016     1307775.0
16939  18324   EMEA    Norway               Q2           2016      401700.0
16942   8781   EMEA   Austria               Q1           2016      103350.0
16943   8786   EMEA   Austria               Q2           2016       93015.0
16944   8792   EMEA   Austria               Q1           2016      103350.0

In [141]:
#Ordeno las filas de manera descendente miedane el Total_Amount
entrenamiento_ECI_Ejercicio2 = entrenamiento_ECI_Ejercicio2.sort_values(by = ['Total_Amount'], ascending = False)
entrenamiento_ECI_Ejercicio2.head()

         ID Region    Territory Delivery_Quarter  Delivery_Year  Total_Amount
2179  10808   EMEA         None               Q2           2016  2.162400e+08
3667   8037   EMEA   SE America               Q3           2017  1.539788e+08
2806   4909   EMEA  UAE (Dubai)               Q1           2017  1.237501e+08
1933  10620   EMEA   Kazakhstan               Q2           2016  3.960007e+07
2957  13709   EMEA      Romania               Q2           2016  3.603600e+07

In [142]:
#Me quedo solo con los 10 primeros
entrenamiento_ECI_Ejercicio2 = entrenamiento_ECI_Ejercicio2[0:10]
entrenamiento_ECI_Ejercicio2 = entrenamiento_ECI_Ejercicio2[['ID', 'Region', 'Delivery_Quarter', 'Delivery_Year']]
entrenamiento_ECI_Ejercicio2

         ID Region Delivery_Quarter  Delivery_Year
2179  10808   EMEA               Q2           2016
3667   8037   EMEA               Q3           2017
2806   4909   EMEA               Q1           2017
1933  10620   EMEA               Q2           2016
2957  13709   EMEA               Q2           2016
598    4865   EMEA               Q4           2017
7898  15287   EMEA               Q1           2018
1817  10350   EMEA               Q3           2017
3684  20848   EMEA               Q4           2016
5669  17668   EMEA               Q1           2017

In [143]:
#EJERCICIO3

territorio_Germany = entrenamiento_ECI['Territory'] == 'Germany'
entrenamiento_ECI_Ejercicio3 = entrenamiento_ECI.loc[territorio_Germany]
entrenamiento_ECI_Ejercicio3.tail()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
16934,15853,EMEA,Germany,0,0,0,0,0,Bureaucratic_Code_4,7/27/2013,...,Q1,2016,NaT,0,EUR,56160.00,EUR,112510.00,Closed Won,Prod_Category_A_None
16935,17677,EMEA,Germany,0,0,0,0,0,Bureaucratic_Code_4,7/27/2013,...,Q1,2016,NaT,0,EUR,59325.00,EUR,528918.75,Closed Won,Prod_Category_A_None
16936,17680,EMEA,Germany,0,0,0,0,0,Bureaucratic_Code_4,7/27/2013,...,Q1,2016,NaT,0,EUR,56193.75,EUR,528918.75,Closed Won,Prod_Category_A_None
16937,17683,EMEA,Germany,0,0,0,0,0,Bureaucratic_Code_4,7/27/2013,...,Q1,2016,NaT,1,EUR,413400.00,EUR,528918.75,Closed Won,Prod_Category_A_None
16938,28767,EMEA,Germany,1,0,0,0,0,Bureaucratic_Code_5,12/4/2015,...,Q3,2016,NaT,3,EUR,1307775.00,EUR,1307775.00,Closed Lost,Prod_Category_A_None

In [144]:
#Quito las filas con NAs
entrenamiento_ECI_Ejercicio3.dropna(inplace = True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [145]:
#Calculo el promedio de la columna Price

entrenamiento_ECI_Ejercicio3.replace({None: 0})
promedio = entrenamiento_ECI_Ejercicio3['Price'].mean()
print(promedio)

TypeError: Could not convert NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.27NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.335NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.28NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.375OtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.3050.305NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.330.295NoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.32NoneNone0.34NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneOtherNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneOtherOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherNoneNoneNoneNoneNoneNoneNoneNone0.230.22NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOther0.310.31OtherNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherOtherNoneNoneNoneNoneNone0.280.28OtherOtherNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNone0.280.305NoneNoneNoneNoneOtherOtherOtherOtherOtherOtherOtherNone0.240.24OtherNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOtherOtherOtherNoneNoneNone0.240.24NoneOtherOtherOtherOtherNoneNoneOther0.280.280.2450.2450.260.26NoneNoneNoneNoneNoneOtherOtherNoneNoneNoneNoneNoneNoneNoneNone0.31NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOtherOther0.280.280.280.280.305NoneNoneNoneNoneNone0.3050.245NoneNone0.2150.28NoneNoneNone0.240.270.270.270.270.270.285NoneNoneNoneNoneNoneNone0.24NoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.290.29OtherOtherOtherNoneNoneNoneNoneNoneOtherOtherOtherOtherNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNone0.230.230.230.23NoneNoneNoneNoneNoneNoneNoneNoneNone0.230.230.230.230.230.2450.245NoneNoneNoneNoneOtherOther0.280.3NoneNoneNoneNone0.305NoneNoneNoneNoneNoneNoneNone0.265NoneNone0.290.29NoneNoneOther0.260.220.22NoneNoneOtherNoneNoneNoneNoneNone0.260.26NoneNoneNoneNoneNoneNoneNoneNone0.240.220.2450.245NoneNoneNoneNoneNoneOtherOtherOtherOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.2750.24NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneOther0.270.275NoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.235NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.280.28None0.275Other0.24None0.24None0.2950.280.28NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.24NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.280.30.30.27None0.24NoneNoneNone0.2850.2850.240.3NoneNoneNone0.30.27NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.220.240.20.240.20.20.240.24OtherOtherNone0.215NoneNoneNoneNoneNoneNoneNoneNoneNoneOtherNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone0.245NoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNoneNone to numeric