1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:
*   Cuál es el promedio general de notas.
*   Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
* Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
* Cuál es la nota promedio por materia.
* Cuál es la nota promedio por padrón.

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
#Cargo el dataframe
df_notas_alumnos = pd.read_csv("/DataSets/notas_alumnos.csv")
df_notas_alumnos

    padron      materia  nota       fecha
0   101108       fisica     1  13/05/2020
1   100280     numerico     3  09/08/2020
2   100905      algebra     8  16/10/2019
3    97337     numerico    10  17/12/2019
4    96327       fisica    10  03/08/2020
..     ...          ...   ...         ...
95  103248     numerico     6  06/11/2019
96   99982  laboratorio     3  17/11/2019
97  103089     analisis     8  31/07/2020
98  101686       fisica     7  04/07/2020
99  102088       fisica     5  14/02/2020

[100 rows x 4 columns]

Antes de realizar cualquier inciso, cambiaremos el tipo de la columna fecha a datetime para mayor comodidad.

In [3]:
df_notas_alumnos["fecha"] = pd.to_datetime(df_notas_alumnos["fecha"])

*   Cuál es el promedio general de notas.

Para poder realizar este paso nos enfocaremos solo en la columna llamada *nota*. Pra esta columna haremos uso de la funcion **mean**.

In [4]:
promedio = df_notas_alumnos['nota'].mean()
print("El promedio general es de :",promedio)

El promedio general es de : 5.25

*   Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

Para este paso debemos quedarnos solo con los datos que nos hacen falta, es decir, aquellas notas registradas en el año 2019.

In [5]:
notas_alumnos_2019 = df_notas_alumnos.loc[df_notas_alumnos["fecha"].dt.year == 2019,"nota"]
notas_alumnos_2019.head()

2      8
3     10
8      2
21     7
26     2
Name: nota, dtype: int64

Ahora teniendo aquellos datos que necesitamos, heremos uso de las funciones **max** y **min** para calcular lo pedido:

In [6]:
nota = notas_alumnos_2019.max()
print("La nota mas alta es ",nota)

La nota mas alta es  10

In [7]:
nota = notas_alumnos_2019.min()
print("La nota mas alta es ",nota)

La nota mas alta es  1

* Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.

Consideramos a el ultimo cuatrimetre como el intervalor entre 1/3/2020 hasta 1/9/2020. Luego para aprobar se requiere una nota de 4 o mayor. Nos quedaremos entonces solo con los datos que cumplan estas condiciones

In [8]:
condicion_aprobacion = 4
notas_aprobadas = df_notas_alumnos["nota"] >= condicion_aprobacion
ultimo_cuatrimestre = (df_notas_alumnos["fecha"] >= '01-03-2018') & (df_notas_alumnos["fecha"] <= '01-09-2020')
notas_aprobadas_ultimocuatri = df_notas_alumnos.loc[notas_aprobadas & ultimo_cuatrimestre]
notas_aprobadas_ultimocuatri.head()

    padron      materia  nota      fecha
2   100905      algebra     8 2019-10-16
3    97337     numerico    10 2019-12-17
21  102149     analisis     7 2019-10-15
28   92778  laboratorio    10 2019-08-12
29  100648       fisica    10 2019-12-13

Ahora solo debemos quedarnos con los padrones que mas veces aparecen:

In [9]:
notas_aprobadas_ultimocuatri["padron"].value_counts().nlargest(1)

96156    1
Name: padron, dtype: int64

* Cuál es la nota promedio por materia.

In [14]:
materias = df_notas_alumnos.groupby(by="materia")
materias["nota"].mean()

materia
algebra        6.500000
algoritmos     6.000000
analisis       5.095238
fisica         5.166667
laboratorio    5.000000
numerico       3.937500
Name: nota, dtype: float64

* Cuál es la nota promedio por padrón.

In [15]:
padrones = df_notas_alumnos.groupby(by="padron")
padrones["nota"].mean()

padron
92778     10
94222     10
95249      5
95869      3
96008      8
          ..
103778     2
103845     5
104729     4
105060     6
105126    10
Name: nota, Length: 100, dtype: int64