4-  Un sitio de Ebooks tiene información sobre los reviews que los usuarios hacen de sus libros en un DataFrame con formato (user_id, book_id, rating, timestamp). Por otro lado tenemos información en otro DataFrame que bajamos de GoodReads: (book_id, book_name, avg_rating). Podemos suponer que los Ids de los libros son compatibles. Se pide usar Python Pandas para: 

* Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks. (Para este punto se puede ignorar el segundo DataFrame). 
* Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio mayor al 20% entre el sitio de Ebooks y GoodReads.

In [ ]:
import pandas as pd
import numpy as np

* Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks. (Para este punto se puede ignorar el segundo DataFrame). 

Consideraremos como TOP5 a aquellos libros que tengan el mejor rating promedio.

In [ ]:
df_ebooks = pd.read_csv("/DataSets/ebooks.csv")
df_ebooks.dropna(inplace=True)
df_ebooks.head()

   user_id  book_id  rating timestamp
0      108       34       1  13-03-11
1      102       11       4  16-11-15
2      131       21       4  23-05-07
3      119       40       8  09-06-11
4      133        7       6  14-01-10

In [ ]:
libros_agrupados_ratingMean = df_ebooks.groupby('book_id').agg({'rating':'mean'})
libros_agrupados_ratingMean = round(libros_agrupados_ratingMean,2)
libros_agrupados_ratingMean.nlargest(5,'rating')

         rating
book_id
40         9.25
1          8.00
14         7.50
25         7.33
20         7.00

* Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio mayor al 20% entre el sitio de Ebooks y GoodReads.

In [ ]:
df_goodreads = pd.read_csv("/DataSets/goodreads.csv")
df_goodreads.dropna(inplace=True)
df_goodreads.head()

   book_id book_name  avg_rating
0        1    Samuel         4.2
1        2    Jeremy         6.3
2        3   Marsden         6.8
3        4    Hakeem         9.4
4        5    Lester         9.0

In [ ]:
df_combinado = df_goodreads.merge(libros_agrupados_ratingMean,on='book_id')
df_combinado = df_combinado.rename(columns={'rating':'ebook_rating_promedio','avg_rating':'goodread_rating_promedio'})
df_combinado.head()

   book_id book_name  goodread_rating_promedio  ebook_rating_promedio
0        1    Samuel                       4.2                   8.00
1        2    Jeremy                       6.3                   5.75
2        3   Marsden                       6.8                   2.50
3        5    Lester                       9.0                   2.00
4        6  Thaddeus                       5.5                   6.50

In [ ]:
mayora20porciento = (df_combinado['ebook_rating_promedio'] / df_combinado['goodread_rating_promedio']) > 0.2
df_combinado[mayora20porciento].head()

   book_id book_name  goodread_rating_promedio  ebook_rating_promedio
0        1    Samuel                       4.2                   8.00
1        2    Jeremy                       6.3                   5.75
2        3   Marsden                       6.8                   2.50
3        5    Lester                       9.0                   2.00
4        6  Thaddeus                       5.5                   6.50