* Generar los siguientes dataframes conteniendo:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_ventas = pd.read_csv("/DataSets/ventas.csv")
df_ventas.dropna(inplace=True)
df_ventas

    codigo_producto  codigo_fabricante  mes  ventas_mensuales
0               144                223    2                30
1               118                245    6               674
2               141                238    8               132
3               110                241    7               798
4               139                222    8               801
..              ...                ...  ...               ...
95              120                241   11               162
96              110                229    7                94
97              105                215   10               654
98              102                234   11               653
99              127                200    1               513

[100 rows x 4 columns]

###Promedio por producto

In [ ]:
productos_agrupados = df_ventas.groupby('codigo_producto').agg({'ventas_mensuales':'mean'})
productos_agrupados.rename(columns = {'ventas_mensuales' : 'promedio_ventas'},inplace=True)
productos_agrupados.head()

                 promedio_ventas
codigo_producto
100                        491.0
101                        369.0
102                        395.0
103                        713.0
104                        940.0

### Mínimo, Máximo y Promedio de ventas por producto 

Primero generamos el formato general para los 3 casos

In [ ]:
productos_agrupados = df_ventas.groupby('codigo_producto').agg({'ventas_mensuales': ['min','max','mean']})

column_rename = {'min':'Minimo ventas mensual','max':'Maximo ventas mensual','mean':'Promedio ventas mensual'}
productos_agrupados.rename(columns = column_rename,inplace = True)
productos_agrupados.columns = productos_agrupados.columns.get_level_values(1)
productos_agrupados.head()

                 Minimo ventas mensual  ...  Promedio ventas mensual
codigo_producto                         ...
100                                445  ...                    491.0
101                                369  ...                    369.0
102                                137  ...                    395.0
103                                713  ...                    713.0
104                                940  ...                    940.0

[5 rows x 3 columns]

Para el caso A nos queda:

In [ ]:
productos_agrupados.stack()

codigo_producto
100              Minimo ventas mensual      445.000000
                 Maximo ventas mensual      537.000000
                 Promedio ventas mensual    491.000000
101              Minimo ventas mensual      369.000000
                 Maximo ventas mensual      369.000000
                                               ...
148              Maximo ventas mensual      508.000000
                 Promedio ventas mensual    280.000000
150              Minimo ventas mensual      348.000000
                 Maximo ventas mensual      998.000000
                 Promedio ventas mensual    750.333333
Length: 135, dtype: float64

Para el caso B nos queda exactamente lo mismo.

Para el caso C nos queda:

In [ ]:
#Usamos el operador T para intercambiar filas por columnas
productos_agrupados.T

codigo_producto    100    101    102    103  ...     145    147    148         150
min              445.0  369.0  137.0  713.0  ...  137.00  697.0   52.0  348.000000
max              537.0  369.0  653.0  713.0  ...  830.00  697.0  508.0  998.000000
mean             491.0  369.0  395.0  713.0  ...  552.75  697.0  280.0  750.333333

[3 rows x 45 columns]