5- La Agencia Nacional de Estadísticas de Buenos Aires recolecta información de nacimientos cuando los padres registran a sus hijos en el registro civil a partir de una encuesta. Esa información se encuentra disponible para su análisis en un csv con el siguiente formato (dia_nacimiento, mes_nacimiento, anio_nacimiento, peso_al_nacer, longitud_al_nacer, id_hospital, tipo_parto), donde el tipo de parto 1 es natural y 2 es cesárea. 
Por otro lado la agencia cuenta con información histórica de los hospitales en otro csv con siguiente formato (id_hospital, dirección, promedio_nacimientos_mensual). Se pide usar Pandas para: 

* Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales. 
* Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_nacimientos = pd.read_csv("/DataSets/nacimientos.csv")
df_nacimientos.dropna(inplace = True)
display(df_nacimientos)

df_hospitales = pd.read_csv("/DataSets/hospitales.csv")
df_hospitales.dropna(inplace = True)
display(df_hospitales)

    dia_nacimiento  mes_nacimiento  ...  id_hospital  tipo_parto
0                4              12  ...            9           2
1               13              11  ...            4           2
2               30               9  ...           10           2
3               13               9  ...            2           1
4               25              11  ...            8           1
..             ...             ...  ...          ...         ...
95              14               9  ...            7           2
96              13               9  ...            4           2
97              26              11  ...            4           2
98              28               8  ...            2           2
99              18               9  ...            5           1

[100 rows x 7 columns]

   id_hospital  ... promedio_nacimientos_mensual
0            1  ...                           62
1            2  ...                           70
2            3  ...                           82
3            4  ...                           91
4            5  ...                           24
5            6  ...                            1
6            7  ...                           93
7            8  ...                           20
8            9  ...                           11
9           10  ...                           75

[10 rows x 3 columns]

* Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales. 

Primero nos quedaremos solo con los nacimietos de la fecha que propone el enunciado.

In [ ]:
nacimietnosMesOctubre2017 = (df_nacimientos['mes_nacimiento'] == 10) & (df_nacimientos['anio_nacimiento'] == 2017)
df_nacimientos_MesOctubre2017 = df_nacimientos[nacimietnosMesOctubre2017]
df_nacimientos_MesOctubre2017

    dia_nacimiento  mes_nacimiento  ...  id_hospital  tipo_parto
10              24              10  ...           10           2
29              27              10  ...            8           1
41               1              10  ...            5           1
57              20              10  ...            1           2
64              20              10  ...            2           2

[5 rows x 7 columns]

Luego contaremos las cantidades de nacimientos para cada hospital.

In [ ]:
#Es necesario el compando rename ya que luego debemos hacer operaciones con esta lista
cantidad_nacimientos = df_nacimientos_MesOctubre2017.groupby('id_hospital').size().rename('cantidad_nacimientos')
cantidad_nacimientos

id_hospital
1     1
2     1
5     1
8     1
10    1
Name: cantidad_nacimientos, dtype: int64

In [ ]:
df_merge = df_hospitales.merge(cantidad_nacimientos,on='id_hospital')
df_merge

   id_hospital  ... cantidad_nacimientos
0            1  ...                    1
1            2  ...                    1
2            5  ...                    1
3            8  ...                    1
4           10  ...                    1

[5 rows x 4 columns]

Vemos aqullos hospitales que cumplan con la condicion, luego nos quedaremos solo con las columnas importantes de estos. (*Se observa que ninguno cumple la condicion*)

In [ ]:
superan_promedio = df_merge['promedio_nacimientos_mensual'] < df_merge['cantidad_nacimientos']
df_merge[superan_promedio][['id_hospital','direccion']]

Empty DataFrame
Columns: [id_hospital, direccion]
Index: []

* Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016.

Teniendo ya los nacimientos del mes de octubre de 2017 es facil obtener solo los que fueron por cesarea.

In [ ]:
cesareas = df_nacimientos_MesOctubre2017['tipo_parto'] == 2
df_nacimientos_MesOctubre2017_cesarea = df_nacimientos_MesOctubre2017[cesareas]
cantidad2017 = len(df_nacimientos_MesOctubre2017_cesarea)
cantidad2017

3

Y hacemos lo mismo para el año 2016 del mismo año.

In [ ]:
nacimietnosMesOctubre2016 = (df_nacimientos['mes_nacimiento'] == 10) & (df_nacimientos['anio_nacimiento'] == 2016)
df_nacimientos_MesOctubre2016 = df_nacimientos[nacimietnosMesOctubre2016]
df_nacimientos_MesOctubre2016

    dia_nacimiento  mes_nacimiento  ...  id_hospital  tipo_parto
14              23              10  ...            4           2
21              11              10  ...            1           2
26              22              10  ...           10           1
31               2              10  ...            9           2
39              14              10  ...            1           2
44              20              10  ...            8           1
59               2              10  ...            8           1
62              27              10  ...            2           1
83               2              10  ...            7           2
88              22              10  ...            1           1
94               2              10  ...            7           1

[11 rows x 7 columns]

In [ ]:
df_nacimientos_MesOctubre2016_cesarea = df_nacimientos_MesOctubre2016[df_nacimientos_MesOctubre2016['tipo_parto'] == 2]
cantidad2016 = len(df_nacimientos_MesOctubre2016_cesarea)
cantidad2016

5

In [ ]:
print("Se incremento el porcentaje de nacimientos por cesarea del año 2016 al 2017: ",cantidad2017>cantidad2016)

Se incremento el porcentaje de nacimientos por cesarea del año 2016 al 2017:  False